<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMCURfJj8QSagP5PUwOBuAGkkx9D2EFTs</string>
	<key>GCM_SENDER_ID</key>
	<string>739891537177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymtrackr</string>
	<key>PROJECT_ID</key>
	<string>gym-trackr-88f3b</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-trackr-88f3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739891537177:ios:061101e1ae288ffad2d188</string>
</dict>
</plist>